/* style.css */

/* Apply styles to the body element */
body {
    /* Ensure the body takes up the full height and width of the viewport */
    height: 100vh;
    display: flex; /* Use flexbox for layout */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.modal {
    display: none
}
  